.logo {
  &__subtitle {
    margin: 0;
    padding: 0;
    color: $chambray;
    font-size: 14px;
  }

  &__title {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    line-height: .9;
    font-size: 40px;
    color: $chambray;
    font-weight: bold;
  }
}
