.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  &__login-wrapper {
    display: flex;
    align-items: center;
    color: $chambray;
    font-size: 12px;
    margin-top:20px;
  }
  &__login-username {
    font-weight: bold;
  }
  &__logout-button {
    margin: 0;
    background: none;
    border: none;
    color: $chambray;
    font-weight: bold;
    cursor: pointer;
  }
}
